<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SysDeptDao">
    <resultMap id="BaseResultMap" type="com.example.demo.model.SysDept">
        <id column="id" jdbcType="INTEGER" property="id" />
            <result column="id" jdbcType="INTEGER" property="id" />
            <result column="code" jdbcType="VARCHAR" property="code" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="pid" jdbcType="INTEGER" property="pid" />
            <result column="satus" jdbcType="INTEGER" property="satus" />
            <result column="grade" jdbcType="INTEGER" property="grade" />
            <result column="createBy" jdbcType="INTEGER" property="createBy" />
            <result column="createTime" jdbcType="DATETIME" property="createTime" />
            <result column="modifyBy" jdbcType="INTEGER" property="modifyBy" />
            <result column="modifyTime" jdbcType="DATETIME" property="modifyTime" />
            <result column="lastchanged" jdbcType="TIMESTAMP" property="lastchanged" />
    </resultMap>
    <sql id="Base_Column_List">
        id,code,name,pid,satus,grade,create_by,create_time,modify_by,modify_time,lastchangedid,code,name,pid,satus,grade,create_by,create_time,modify_by,modify_time,lastchanged
    </sql>
    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_dept
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from sys_dept
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="create" parameterType="com.example.demo.model.SysDept">
        insert into sys_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id
            </if>
            <if test="code != null">
                code
            </if>
            <if test="name != null">
                name
            </if>
            <if test="pid != null">
                pid
            </if>
            <if test="satus != null">
                satus
            </if>
            <if test="grade != null">
                grade
            </if>
            <if test="createBy != null">
                create_by
            </if>
            <if test="createTime != null">
                create_time
            </if>
            <if test="modifyBy != null">
                modify_by
            </if>
            <if test="modifyTime != null">
                modify_time
            </if>
            <if test="lastchanged != null">
                lastchanged
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER}
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR}
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER}
            </if>
            <if test="satus != null">
                #{satus,jdbcType=INTEGER}
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER}
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATETIME}
            </if>
            <if test="modifyBy != null">
                #{modifyBy,jdbcType=INTEGER}
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=DATETIME}
            </if>
            <if test="lastchanged != null">
                #{lastchanged,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.example.demo.model.SysDept">
        update sys_dept
        <set>
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="satus != null">
                #{satus,jdbcType=INTEGER},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATETIME},
            </if>
            <if test="modifyBy != null">
                #{modifyBy,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=DATETIME},
            </if>
            <if test="lastchanged != null">
                #{lastchanged,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryPage" resultMap="BaseResultMap"
            parameterType="com.example.demo.dto.SysDeptQueryDTO">
        select
        <include refid="Base_Column_List" />
        from
        sys_dept
        <where>
                <if test="id != null">
                    and id=  #{id,jdbcType=INTEGER}
                </if>
                <if test="code != null">
                    and code=  #{code,jdbcType=VARCHAR}
                </if>
                <if test="name != null">
                    and name=  #{name,jdbcType=VARCHAR}
                </if>
                <if test="pid != null">
                    and pid=  #{pid,jdbcType=INTEGER}
                </if>
                <if test="satus != null">
                    and satus=  #{satus,jdbcType=INTEGER}
                </if>
                <if test="grade != null">
                    and grade=  #{grade,jdbcType=INTEGER}
                </if>
                <if test="createBy != null">
                    and create_by=  #{createBy,jdbcType=INTEGER}
                </if>
                <if test="createTime != null">
                    and create_time=  #{createTime,jdbcType=DATETIME}
                </if>
                <if test="modifyBy != null">
                    and modify_by=  #{modifyBy,jdbcType=INTEGER}
                </if>
                <if test="modifyTime != null">
                    and modify_time=  #{modifyTime,jdbcType=DATETIME}
                </if>
                <if test="lastchanged != null">
                    and lastchanged=  #{lastchanged,jdbcType=TIMESTAMP}
                </if>
        </where>
    </select>
</mapper>