<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SysDeptDao">
    <resultMap id="BaseResultMap" type="com.example.demo.model.SysDept">
        <id column="id" jdbcType="INTEGER" property="id" />
                 <id column="deptId" jdbcType="BIGINT" property="deptId" />
            <result column="deptId" jdbcType="BIGINT" property="deptId" />
            <result column="pid" jdbcType="BIGINT" property="pid" />
            <result column="pids" jdbcType="VARCHAR" property="pids" />
            <result column="simpleName" jdbcType="VARCHAR" property="simpleName" />
            <result column="fullName" jdbcType="VARCHAR" property="fullName" />
            <result column="description" jdbcType="VARCHAR" property="description" />
            <result column="version" jdbcType="INTEGER" property="version" />
            <result column="sort" jdbcType="INTEGER" property="sort" />
            <result column="createTime" jdbcType="DATETIME" property="createTime" />
            <result column="updateTime" jdbcType="DATETIME" property="updateTime" />
            <result column="createUser" jdbcType="BIGINT" property="createUser" />
            <result column="updateUser" jdbcType="BIGINT" property="updateUser" />
    </resultMap>
    <sql id="Base_Column_List">
        dept_id,pid,pids,simple_name,full_name,description,version,sort,create_time,update_time,create_user,update_user
    </sql>
    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_dept
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from sys_dept
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="create" parameterType="com.example.demo.model.SysDept">
        insert into sys_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                dept_id
            </if>
            <if test="pid != null">
                pid
            </if>
            <if test="pids != null">
                pids
            </if>
            <if test="simpleName != null">
                simple_name
            </if>
            <if test="fullName != null">
                full_name
            </if>
            <if test="description != null">
                description
            </if>
            <if test="version != null">
                version
            </if>
            <if test="sort != null">
                sort
            </if>
            <if test="createTime != null">
                create_time
            </if>
            <if test="updateTime != null">
                update_time
            </if>
            <if test="createUser != null">
                create_user
            </if>
            <if test="updateUser != null">
                update_user
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT}
            </if>
            <if test="pid != null">
                #{pid,jdbcType=BIGINT}
            </if>
            <if test="pids != null">
                #{pids,jdbcType=VARCHAR}
            </if>
            <if test="simpleName != null">
                #{simpleName,jdbcType=VARCHAR}
            </if>
            <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR}
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR}
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER}
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATETIME}
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATETIME}
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT}
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=BIGINT}
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.example.demo.model.SysDept">
        update sys_dept
        <set>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=BIGINT},
            </if>
            <if test="pids != null">
                #{pids,jdbcType=VARCHAR},
            </if>
            <if test="simpleName != null">
                #{simpleName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATETIME},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATETIME},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryPage" resultMap="BaseResultMap"
            parameterType="com.example.demo.dto.SysDeptQueryDTO">
        select
        <include refid="Base_Column_List" />
        from
        sys_dept
        <where>
                <if test="deptId != null">
                    and dept_id=  #{deptId,jdbcType=BIGINT}
                </if>
                <if test="pid != null">
                    and pid=  #{pid,jdbcType=BIGINT}
                </if>
                <if test="pids != null">
                    and pids=  #{pids,jdbcType=VARCHAR}
                </if>
                <if test="simpleName != null">
                    and simple_name=  #{simpleName,jdbcType=VARCHAR}
                </if>
                <if test="fullName != null">
                    and full_name=  #{fullName,jdbcType=VARCHAR}
                </if>
                <if test="description != null">
                    and description=  #{description,jdbcType=VARCHAR}
                </if>
                <if test="version != null">
                    and version=  #{version,jdbcType=INTEGER}
                </if>
                <if test="sort != null">
                    and sort=  #{sort,jdbcType=INTEGER}
                </if>
                <if test="createTime != null">
                    and create_time=  #{createTime,jdbcType=DATETIME}
                </if>
                <if test="updateTime != null">
                    and update_time=  #{updateTime,jdbcType=DATETIME}
                </if>
                <if test="createUser != null">
                    and create_user=  #{createUser,jdbcType=BIGINT}
                </if>
                <if test="updateUser != null">
                    and update_user=  #{updateUser,jdbcType=BIGINT}
                </if>
        </where>
    </select>
</mapper>